<<<<<<<< HEAD:docs/Snippets/configs.md
---
title: 'Configs'
---

### Prettier

```json
========
>>>>>>>> 43502995947b50539de75fb57a19772f2f185292:.prettierrc
{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "printWidth": 80,
  "overrides": [
    {
      "files": ["framework/saleor/**/*"],
      "options": {
        "printWidth": 120
      }
    }
  ]
}
<<<<<<<< HEAD:docs/Snippets/configs.md
```

### Eslint

```json

```

### Husky
========
>>>>>>>> 43502995947b50539de75fb57a19772f2f185292:.prettierrc
