.header {
  padding: 8vh 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.avatar {
  position: relative;
  margin-bottom: 1rem;
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  border-radius: 9999px;
}

.heading {
  color: #171717;
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 3rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.subHeading {
  color: #404040;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: center;
  font-weight: 500;
}

.highlight-container,
.highlight {
  position: relative;
}

[data-theme='light'] .highlight {
  color: #f5f5f5;
}

.highlight-container {
  display: inline-block;
}

[data-theme='dark'] .heading {
  color: #f5f5f5;
}

[data-theme='dark'] .subHeading {
  color: #d4d4d4;
}

.highlight-container:before {
  content: ' ';
  display: block;
  height: 90%;
  width: 100%;
  margin-left: -5px;
  margin-right: -3px;
  position: absolute;
  background: #25c2a0;
  transform: rotate(2deg);
  top: -1px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}

@media (min-width: 996px) {
  .header {
    padding: 5rem 0;
  }
  .avatar {
    width: 12rem;
    height: 12rem;
  }
  .heading {
    font-size: 3.5rem;
  }
  .highlight-container:before {
    padding: 20px 6px 6px 20px;
    top: -5px;
    left: -8px;
  }
}
